.footer{
    background-image: url(../images/FooterBg.164dc11343ceaec3d854.jpg);
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    font-family: 'MrEavesXLModNarOT-Book';  
}
.footer_left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_logo img{
    height: 40px;
}
.footer_text{
    display: flex;
    justify-content: center;
    align-items: center;
}
